.greenButton  {
  padding: 0.75rem 1.5rem;
  border: none;
  border-radius: 8px;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.2s;
  text-transform: uppercase;
  letter-spacing: 1px;
   background: linear-gradient(135deg, #4CAF50, #388E3C);
  color: white;
  font-family: 'Segoe UI', Roboto, system-ui, -apple-system, sans-serif;

}

.greenButton:hover {
  background: linear-gradient(135deg, #388E3C, #2E7D32);
}
