*{
    margin: 0;
    padding: 0;
}
html{
    height: 100%;
  scroll-behavior: smooth;
}

body{
      background: linear-gradient(-134deg, #cfd6dc, #eef2f5);
}
a{
  text-decoration: none;
}

.element::-webkit-scrollbar {
  display: none; 
}


