*{
    margin: 0;
    padding: 0;
}

.navbar{
    display: flex;
    justify-content: space-between;
    padding: 1rem;
    background-color: aquamarine;
    align-items: center;
}
.logo{
    display: flex;
    align-items: center;
}
.logo img{
    width: 2rem;
    border-radius: 6px;
}
.links{
    display: flex;
    gap: 0.5rem;
}